<div class="inner">
  <div class="left">
    <div class="card">
      <%= erb :board %>
    </div>
    <div class="card">
      <%= erb :npp %>
    </div>
  </div>

  <div class="right">
    <div class="card">
      <%= erb :engine %>
    </div>
    <div class="card">
      <%= erb :pv %>
    </div>
    <div class="card">
      <%= erb :stats %>
    </div>
  </div>
</div>
